.text-center {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form-signin a{
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
  }
  .have-an-account a {
    margin: auto;
    color: #b3b3b3;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 1%;
  }
  .greeting{
    font-style: italic;
  }
  .form-signin {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form-control {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .welcome{
    font-style: italic;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    margin-top: 1%;
    grid-area: welcome;
    text-align: center;
  }
  .alert alert-success{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 10px;
    margin-bottom: 1%;
  }
  .form-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 100%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 13px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    margin-top: 1%;
  }
  .workout-history-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
    font-size: 13px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-align: center;
    margin-left: 15px;
  }
  .workout-record-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .delete-exercise{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 50%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    margin-top: 1%;
  }
  .Form-WorkoutTime{
    font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 50px;
      background: #4CAF50;
      width: 30%;
      border: 10px;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      cursor: pointer;
      outline-color: #f2f2f2;
      text-align: center;
      margin: 0 auto auto auto;
      display:grid;
  }
  .form-button-start-workout{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 30%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    text-align: center;
    display:grid;
    margin: 0 auto auto auto;
  }
  .form-button-start-workout:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .form-button-history{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 30%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    text-align: center;
    margin: auto;
    display:grid;
  }
  .form-button-history:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .form-button-create-exercise{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 30%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    margin-right: 5%;
    text-align: center;
    margin: auto;
    display:grid;

  }
  .form-button-create-exercise:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .form-button-add-trainer{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 30%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    text-align: center;
    margin: auto;
    display:grid;
  }
  .form-button-add-trainer:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .form-button-create-exercise-submit{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 50px;
    background: #4CAF50;
    width: 25%;
    border: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline-color: #f2f2f2;
    margin: 0 auto;
    display: block;
    margin-bottom: 1%;
  }
  .form-button-create-exercise-submit:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .form-button:hover,.form-button:active,.form-button:focus {
    background: #43A047;
  }
  .mb-3 {
      color: #4CAF50;
      font-family: "Roboto", sans-serif;
  }
  .mb-3-home{
        color: #4CAF50;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #0bf717;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  .homelogo {
      max-width: 50%;
      padding: 10%;
  }
  .homepage {
   
    max-width: 3%;
    padding: 0%;
}
  .home-page-logo{
    max-width: 12%;
    text-align: center;
    position: absolute;
    bottom: 20%;
  }
  body {
    background-image: url("");
    background: #76b852; 
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  .home {
      color: white;
      font-family: "Roboto", sans-serif;
      display:grid;
      grid-template-columns: 95%;
      grid-template-areas: 
      "user-greetings"
      "welcome"
      "workout-record"
      "buttons"
      "exercise-list"
      "workout-history"
      ;
  }
  .workout-history-query {
    grid-area: workout-history;
  }
  .workout-record-query {
    grid-area: workout-record;
  }
  #nav a {
    color: white;
  }
  .formCreateExercise{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 75%;
    margin: 10% auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .add-trainer{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 75%;
    margin: 10% auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .text-create-exercise{
    font-size: 14px;
    color: #4CAF50;
  }
  .go-back-home a {
      margin: auto;
      color: #b3b3b3;
      font-size: 15px;
      display: block;
      text-align: center;
      margin-top: 1%;
  }
  /* don't touch */
  .exercise-container {
   display: inline-flex;
    margin:auto;

}
.exercise-wrapper{
  width:95%;
  overflow-x:auto;
  margin:3%;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;}

.button-div{
display: flex;
grid-area: buttons;
padding-top: 3%;
}
.exercise-list{
  grid-area: exercise-list;
}
.user-greetings{
  grid-area: user-greetings;
}
.workout-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 3%;
}
.card {
  /*border: 2px solid rgb(27, 26, 26);
  border-radius: 10px;*/
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  align-items:center;
  font-size: 15px;
  padding: 1%;
  background-color:rgba(248, 244, 244, 0.747);
  /*background-image: url("https://images.unsplash.com/flagged/photo-1556746834-cbb4a38ee593?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fGNhcmRpbyUyMHdvcmtvdXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");*/
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  margin: 15px auto;
}
.pending-workout{
  background-color: lightgoldenrodyellow;
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin:0 auto;
  height:100px;
  width: 900px;
  overflow-y: scroll;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.pending-workout a{
  margin-right: 10%;
}
.current-workout-layout a{
  margin-right: 10%;
}
.view-ex-button{
  color: lightsteelblue;
  font-family: "Roboto", sans-serif;
  margin-right: 200px;
}

.workout-history-query{
  background-color: lightgoldenrodyellow;
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin:0 auto;
  height:100px;
  width: 900px;
  overflow-y: scroll;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.card-deck{
  overflow-y:scroll;
  overflow-x:hidden;
  width:200px;
  height:25vh;
  margin: 5px;
  color:white;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card.read {
  background-color: lightgray;
}

.card .exercise-title {
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline-color: #f2f2f2;
  display: block;
  text-align: center;
  background-color: white;
}

.card .exercise-description {
  color:  #4CAF50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.card-full{
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  color:  #4CAF50;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  max-width:75%;
  margin: 0 auto;
  
}
.exercise-title{
  color:  #4CAF50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
.exercise-expected-time{
  color:  #4CAF50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.exercise-suggested-time{
  color:  #4CAF50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.exercise-number-of-reps{
  color:  #4CAF50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.details-exercise{
font-family: "Roboto", sans-serif;
color: #4CAF50;
font-size: 15px;

}
#cardiocard{
  background-image: url("https://images.unsplash.com/flagged/photo-1556746834-cbb4a38ee593?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fGNhcmRpbyUyMHdvcmtvdXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#backcard{
  background-image: url("https://www.eatthis.com/wp-content/uploads/sites/4/2021/04/reverse-prayer-pose.jpg?quality=82&strip=1&w=640");
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#legscard{
  background-image: url("https://www.shutterstock.com/image-photo/portrait-beautiful-young-woman-wearing-260nw-525802663.jpg");
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
#armscard{
  background-image: url("https://www.shutterstock.com/image-photo/young-athletic-woman-colored-equipment-260nw-365551088.jpg");
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#abscard{
  background-image: url("https://www.shutterstock.com/image-photo/full-length-side-view-portrait-260nw-2003270486.jpg");
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#fullbodycard{
  background-image: url("https://www.shutterstock.com/image-photo/yoga-stretching-black-woman-on-260nw-2229889725.jpg");
  height: 240px;
  width: 240px;
  background-position: center;
}
.edit-button-exercise{
  color:lightsteelblue;
}
.form-register{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);